body {
    margin: 0;
    overflow: hidden;
}

.contest {
    width: 100%;
}

.background {
    width: 35%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.background-img {
    width: 100%;
    height: 52vw;
    background-repeat: no-repeat;
    height: auto;
    box-sizing: border-box;

}

.logo-div {
    background-color: rgba(89, 235, 174, 0.301);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 250px;
    box-sizing: border-box;
    height: 150px;
    gap: 50px;
}

.logo {
    width: 80px;
    height: auto;
}

.logo-text {
    font-size: 60px;
}