@import url('https://fonts.cdnfonts.com/css/oak-sans');

@font-face {
    font-family: MyFont;
    src: url(image/Norse-Bold\ \(1\).otf);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.contest {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
}

.background {
    width: 43%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;


}

.background-img {
    width: 100%;
    height: 52vw;
    background-repeat: no-repeat;
    height: auto;
    box-sizing: border-box;
}

.logo-div {
    background-color: rgba(89, 235, 174, 0.301);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 250px;
    box-sizing: border-box;
    height: 150px;
    gap: 50px;
}

.logo {
    width: 80px;
    height: auto;
}

.logo-text {
    font-size: 80px;
    font-family: MyFont;
    color: white;
}

.copyright {
    position: absolute;
    bottom: 40px;
    color: white;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: inherit
}


.right-side {
    width: 100%;
    display: flex;
    align-items: center;
}

.text-right-side {
    width: 80%;
    font-family: 'Oak Sans', sans-serif;
    margin-left: 20px;
}