@import url('https://fonts.cdnfonts.com/css/oak-sans');

@font-face {
    font-family: MyFont;
    src: url(image/Norse-Bold\ \(1\).otf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.contest {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
}

.background {
    width: 50%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.background-img {
    width: 105%;
    height: 60vw;
    background-repeat: no-repeat;
    height: auto;
    box-sizing: border-box;
}

input {
    width: 50%;
    padding: 6px 12px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
}

span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.logo-div {
    background-color: rgba(89, 235, 174, 0.301);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 250px;
    box-sizing: border-box;
    height: 150px;
    gap: 50px;
}

.logo {
    width: 80px;
    height: auto;
}

.logo-text {
    font-size: 80px;
    font-family: MyFont;
    color: white;
}

.copyright {
    position: absolute;
    bottom: 40px;
    color: white;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

a {
    color: inherit
}

.form {
    box-sizing: border-box;
    border: 3px solid blue;
    width: 100%;
}

.right-side {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-right-side {
    width: 80%;
    font-family: 'Oak Sans', sans-serif;
    margin-left: 20px;
}